.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 175px;
  margin-bottom: 30px;
  padding: 0;
  background: linear-gradient(45deg, #e7c020 25%, transparent 25%),
    linear-gradient(-45deg, #e7c020 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e7c020 75%),
    linear-gradient(-45deg, transparent 75%, #e7c020 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.nav-logo-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-logo {
  width: 355px;
  height: 330px;
}

.nav-links-container {
  display: flex;
  align-items: center;
  gap: 0;
  margin-left: auto;
}

.navLink {
  color: #f8f8f8;
  background-color: #b04628;
  border-color: #4da167;
  text-align: center;
  padding: 30px 52px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  cursor: pointer;
  outline: 0;
  border-width: 1px 1px 3px;
  border-radius: 10px;
  cursor: pointer;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}

.navLink:hover {
  background-color: #4da167;
}
