.about-container {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  align-items: flex-start;
  text-align: right;
  height: 100%;
  padding: 50px;
  padding-right: 40px; /* Increase this value to move content further right */
  /* or you can add margin-left here */
  margin-right: 40px; /* Adjust this value as needed */
}

.about-container .some-other-class {
  text-align: right; 
} 

.about-content {
  max-width: 1000px; 
}

.more-container {
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  text-align: left; 
  height: 100%; 
  padding: 20px; 
  padding-left: 60px;
}

.more-content {
  max-width: 1000px; 
}

.more-text {
  margin-bottom: 20px; 
}

.more-image {
  display: flex; 
  width: auto; 
  height: auto; 
  max-width: 100%; 
}


.divider {
    height: 2px; 
    background: #e7c020; 
    margin: 20px auto; 
    width: calc(100% - 2in); 
  }
  
  
